@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Rowdies:wght@300;400;700&display=swap');

body{
    margin: 0 auto;
    background-color: #fbf5f3;
}
h1, h2, h3, h4, h5, h6, a{
    font-family: "Rowdies";
    text-shadow: -1px 1px 0 #000,
                1px 1px 0 #000,
                1px -1px 0 #000,
                -1px -1px 0 #000;
}
p{
    font-family: "Crimson Pro", "DM Mono";
    color: #33261d;
}
a{
    text-decoration: none;
}
header{
    display: grid;
    grid-template-columns: 4em auto;
    background-color: #7c7c7c;
    align-items: center;
}
.headerlogo{
    max-width: 4.5em;
}
.headernav{
    display: flex;
    justify-content: space-around;
    font-size:calc(10px + 2vw);
}
.headernav a{
    color: #fbf5f3;
    transition: .25s;
}
.headernav a:hover{
    color: #fe9434;
    transition: .25s;
}
footer{
    display: flex;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    align-items: center;
    background-color: #7c7c7c;
    font-size: 1.5vw;
}
footer p{
    color: #fbf5f3;
}
footer a{
    color: #fbf5f3;
    transition: .25s;
    font-size: calc(5px + 1.5vw);
}
footer a:hover{
    color: #fe9434;
    transition: .25s;
}
footer img{
    width: calc(20px + 2vw);
    padding: 1.5vw;
    border-radius: 40%;
    transition: 0.5s;
}
footer img:hover{
    transform: scale(1.5);
    transition: 0.5s;
}
.social{
    margin-left: -.6vw;
}
/* ==============index.html=============== */
.home-hero-box{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
}
.home-hero-img{
    width: auto;
    height: auto;
    max-width: 100vw;
    grid-column: 1/2;
    grid-row: 1/2;
}
.home-hero-logo{
    width: auto;
    height: auto;
    max-width: 90vw;
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: center;
}
.home-intro-p{
    font-size: calc(15px + 2vw);
    text-align: center;
    margin: 10% 10% 10% 10%;
}

.home-nav-img-grid{
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: auto;
    text-align: center;
    justify-content: center;
    column-gap: 7.5%;
    margin-bottom: 20%;
}
.home-grid-cell-1{
    grid-column: 1/2;
    grid-row: 1/2;
    display: grid;
    transition: .5s;
    align-items: center;
}
.home-grid-cell-1:hover{
    transform: scale(1.25);
    transition: .5s;
}
.home-grid-cell-2{
    grid-column: 2/3;
    grid-row: 1/2;
    display: grid;
    transition: .5s;
    align-items: center;
}
.home-grid-cell-2:hover{
    transform: scale(1.25);
    transition: .5s;
}
.home-aboutus-grid-img, .home-nav-img-grid-a1{
    grid-column: 1/2;
    grid-row: 1/2;
    max-width: 100%;
}
.home-aboutus-grid-text{
    grid-column: 1/2;
    grid-row: 1/2;
    color: #fbf5f3;
    font-size: 6vw;
    font-weight: 700;
}
.home-topproducts-grid-img, .home-nav-img-grid-a2{
    grid-column: 2/3;
    grid-row: 1/2;
    max-width: 100%;
}
.home-topproducts-grid-text{
    grid-column: 2/3;
    grid-row: 1/2;
    color: #fbf5f3;
    font-size: 6vw;
    font-weight: 700;
}
.home-slideshow{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    margin: 0 4vw;
    margin-bottom: 5%;
}
.homeSlides{
    max-width: 80vw;
    width: 80vw;
    display: none;
    grid-column: 1/2;
    grid-row: 1/2;
}
.homeSlides.show{
    max-width: 80vw;
    display: block;
    opacity: 1;
    transform: scale(1.5);
}
.slideshow-display-left{
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: left;
    margin-left: 7vw;
}.slideshow-display-right{
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: right;
    margin-right: 7vw;
}
.slideshow-display-left, .slideshow-display-right{
    height: 10vh;
    background: rgba(51, 38, 29, 0.5);
    border-top: 2px solid rgba(51, 38, 29, 0);
    border-left: 2px solid rgba(51, 38, 29, 0);
    border-bottom: 2px solid rgba(51, 38, 29, 0);
    border-right: 2px solid rgba(51, 38, 29, 0);
    color: #fbf5f3;
    transition: .25s;
    display: block;
}
.slideshow-display-left:hover, .slideshow-display-right:hover{
    background: rgba(51, 38, 29, 0.75);
    transition: .25s;
}

/* =============aboutus.html============= */
.aboutus-hero{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
}
.aboutus-hero-img{
    width: 100vw;
    grid-column: 1/2;
    grid-row: 1/2;
}
.aboutus-hero-text{
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: center;
    font-size: 10vw;
    color: #fbf5f3;
}
.aboutus-content{
    margin: 7vw;
}
.aboutus-grid-p{
    font-size: calc(10px + 2vw);
}
.aboutus-grid-img{
    width: calc(50px + 25vw);
    float: right;
    padding-left: 5vw;
}

/* =============Top 5 Products============== */
.topproducts-hero{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
}
.topproducts-hero-img{
    width: 100vw;
    grid-column: 1/2;
    grid-row: 1/2;
}
.topproducts-hero-text{
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: center;
    font-size: 7vw;
    color: #fbf5f3;
}
.topproducts-content{
    margin: 7vw 5vw 10vw 5vw;
}
hr{
    margin: 8vw 0;
    height: .1vw;
    background-color: #33261d;
}
.topproducts-content h1{
    color: #fe9434;
    font-size: calc(12px + 2vw);
    margin-bottom: 4vw;
}
.topproducts-content p{
    font-size: calc(8px + 1.5vw);
    text-align: center;
}
.topproducts-img-1{
    width: 30vw;
    min-width: 150px;
    max-width: 300px;
    float: left;
    margin-right: 2vw;
}
.topproducts-img-2{
    width: 30vw;
    min-width: 300px;
    max-width: 300px;
    float: right;
    margin-left: 2vw;
}
.topproducts-img-3{
    width: 40%;
    min-width: 325px;
    max-width: 600px;
    float: left;
    margin-right: 2vw;
    margin-bottom: calc(20px - 2vw);
}
.topproducts-img-4{
    width: 40%;
    min-width: 300px;
    max-width: 600px;
    float: right;
    margin-left: 2vw;
    margin-bottom: calc(20px - 2vw);
}
.topproducts-img-5{
    width: 30vw;
    min-width: 225px;
    max-width: 400px;
    float: left;
    margin-right: 2vw;
}

/* ==============Contact Form============== */
.contact-background{
    width: 100vw;
    height: 86vh;
    grid-column: 1/2;
    grid-row: 1/2;
}
.contact-main{
    display: grid;
    text-align: center;
}
.contact-title{
    grid-column: 1/2;
    grid-row: 1/2;
    margin-top: 8vh;
    font-size: calc(1.5em + 2vw);
    color: #fbf5f3;
    justify-self: center;
}
.contact-form{
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: center;
}
#feedback{
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0.5em;
    display: none;
}
.moveDown{
    margin-top: 3em;
}
form{
    margin: 10vw auto;
    width: 80vw;
    height: 200px;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
    background-color: rgba(0,0,0,0.4);
    backdrop-filter: blur(5px);
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
form li + li{
    margin-top: 1em;
}
label{
    display: inline-block;
    width: 90px;
    text-align: right;
    color: #fbf5f3;
}
input, textarea{
    font: 1em sans-serif;
    width: 65%;
    box-sizing: border-box;
    border: 1px solid #999;
    background-color: #fbf5f3;
}
input:focus, textarea:focus{
    border-color: #000;
}
textarea{
    vertical-align: top;
    height: 5em;
}
.button{
    padding-left: 90px;
}
.button button{
    margin-left: 0.5em;
    background-color: #fe9434;
    border-top: 2px solid #c97425;
    border-left: 2px solid #c97425;
    border-bottom: 2px solid #33261d;
    border-right: 2px solid #33261d;
    color: #fbf5f3;
    font-family: "Rowdies";
}